{% extends "base.html" %}

{% block content %}

  <h3>
    Spéciaux de la semaine
    <img src="https://static.normandcyr.com/images/cuillere_petit.png" alt="Cuillère de beurre de peanut", height="25px">
  </h3>

  <p>
    Généré le {{ date_genere }}
  </p>
  <hr>
  <div class="container">
    <table id="main_info" class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="row" class="table-primary">Format</th>
          <th scope="row" class="table-primary">Magasin</th>
          <th scope="row" class="table-primary">Nom</th>
          <th scope="row" class="table-primary">Prix</th>
          <th scope="row" class="table-primary">Fin du spécial</th>
        </tr>
      </thead>
      <tbody>
        {% for special in info_speciaux %}
        <tr>
          <td>{{ special["format"] }}</td>
          <td>{{ special["magasin"] }}</td>
          <td>{{ special["nom"] }}</td>
          <td class="oneline">{{ special["prix"] }}</td>
          <td>{{ special["date fin spécial"] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr class="end_table">
  </div>


{% endblock %}
